@keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1); 
    }
  }

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 

  @keyframes ball1 {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(15px);
    }
    75% {
      transform: translateX(-15px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes ball2 {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(15px);
    }
    75% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes ball3 {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-15px);
    }
    75% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0);
    }
  }
