@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@-webkit-keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes ball1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  75% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ball1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  75% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes ball2 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(15px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes ball2 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(15px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes ball3 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ball3 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
main nav .filters {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
  margin-bottom: 100px;
}
main nav .filters .choice-filters {
  display: flex;
  flex-direction: column;
}
main nav .filters .choice-filters .filter {
  display: flex;
  margin-top: 20px;
  position: relative;
}
main nav .filters .choice-filters .filter .number {
  background-color: #9356DC;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 12.5px 12.5px 12.5px 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 17px;
  left: -12.5px;
}
main nav .filters .choice-filters .filter .choice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  box-shadow: 1px 1px 12px #c4bdbd;
  background-color: #f4f0f8;
  border-radius: 15px 15px 15px 15px;
}
main nav .filters .choice-filters .filter .choice p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: medium;
}
main nav .filters .choice-filters .filter .choice i {
  margin-right: 5%;
  color: #807e7e;
}

main section .bloc-restaurants {
  display: flex;
  flex-direction: column;
}
main section .bloc-restaurants h2 {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
main section .bloc-restaurants .card-restaurant {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
main section .bloc-restaurants .card-restaurant img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
main section .bloc-restaurants .card-restaurant .inside-card {
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0px 6px 0px #0000002e;
}
main section .bloc-restaurants .card-restaurant .inside-card .heart {
  font-size: 20px;
  position: relative;
}
main section .bloc-restaurants .card-restaurant .inside-card .heart .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  transition: all 230ms ease-in-out;
}
main section .bloc-restaurants .card-restaurant .inside-card .heart:hover .fas {
  opacity: 1;
  transform: scale(1.2);
}
main section .bloc-restaurants .card-restaurant p {
  padding-top: 5px;
}
main section .bloc-restaurants .card-restaurant .button-new {
  height: 20px;
  width: 90px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px 3px 3px 3px;
  padding: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.main-page-restaurant .image-restaurant-4, .main-page-restaurant .image-restaurant-3, .main-page-restaurant .image-restaurant-2, .main-page-restaurant .image-restaurant-1 {
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}
.main-page-restaurant .image-restaurant-4 .icon-title-section, .main-page-restaurant .image-restaurant-3 .icon-title-section, .main-page-restaurant .image-restaurant-2 .icon-title-section, .main-page-restaurant .image-restaurant-1 .icon-title-section {
  padding-top: 30px;
  position: absolute;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  border-radius: 40px 40px 0 0;
  bottom: 0;
}
.main-page-restaurant .image-restaurant-4 .icon-title-section h2, .main-page-restaurant .image-restaurant-3 .icon-title-section h2, .main-page-restaurant .image-restaurant-2 .icon-title-section h2, .main-page-restaurant .image-restaurant-1 .icon-title-section h2 {
  margin-left: 20px;
}
.main-page-restaurant .image-restaurant-4 .icon-title-section .heart, .main-page-restaurant .image-restaurant-3 .icon-title-section .heart, .main-page-restaurant .image-restaurant-2 .icon-title-section .heart, .main-page-restaurant .image-restaurant-1 .icon-title-section .heart {
  font-size: 20px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.main-page-restaurant .image-restaurant-4 .icon-title-section .heart .fas, .main-page-restaurant .image-restaurant-3 .icon-title-section .heart .fas, .main-page-restaurant .image-restaurant-2 .icon-title-section .heart .fas, .main-page-restaurant .image-restaurant-1 .icon-title-section .heart .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  transition: all 230ms ease-in-out;
}
.main-page-restaurant .image-restaurant-4 .icon-title-section .heart:hover .fas, .main-page-restaurant .image-restaurant-3 .icon-title-section .heart:hover .fas, .main-page-restaurant .image-restaurant-2 .icon-title-section .heart:hover .fas, .main-page-restaurant .image-restaurant-1 .icon-title-section .heart:hover .fas {
  opacity: 1;
  transform: scale(1.2);
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: initial;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader 0.01s 1.75s both;
          animation: loader 0.01s 1.75s both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .loader-itemList {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.loader .loader-itemList .loader-item {
  height: 15px;
  width: 15px;
  border-radius: 15px;
}
.loader .loader-itemList .loader-item-1 {
  background-color: #9356DC;
  -webkit-animation: ball3 1s;
          animation: ball3 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.loader .loader-itemList .loader-item-2 {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation: ball2 1s;
          animation: ball2 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.loader .loader-itemList .loader-item-3 {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation: ball1 1s;
          animation: ball1 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

header .logo {
  display: flex;
  justify-content: center;
}
header .logo img {
  width: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
}
header .i-search {
  display: flex;
  justify-content: center;
  background-color: #e7e7e7;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 0px 2px 3px #5553532e;
}
header .i-search p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  font-weight: bold;
}

main nav .title-button {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main nav .title-button h2 {
  width: 60%;
  margin: 0;
}
main nav .title-button h3 {
  width: 80%;
  color: #807e7e;
  margin-top: 20px;
}
main nav .title-button button {
  width: 50%;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 230ms ease-in-out;
  opacity: 1;
}
main nav .title-button button:hover {
  opacity: 0.8;
  box-shadow: 3px 4px 5px #cfc7c7;
}
main section {
  background-color: #f4f0f8;
  margin-top: 20px;
  padding-bottom: 70px;
}
main section h2 {
  padding-top: 30px;
  margin-left: 20px;
}
footer {
  padding: 30px;
  background-color: #2f2f2f;
}
footer p {
  color: white;
  margin-top: 10px;
}
footer p a {
  color: white;
}
footer img {
  margin-bottom: 10px;
}
footer i {
  color: white;
}
footer .text-icon-footer {
  display: flex;
  margin-top: 10px;
}
footer .text-icon-footer p {
  margin-top: 0;
  margin-left: 10px;
}
footer .text-icon-footer p a {
  color: white;
}

.header-page-restaurant {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.header-page-restaurant img {
  width: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.header-page-restaurant a {
  position: absolute;
  left: 20px;
  align-self: center;
}

.main-page-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-page-restaurant .image-restaurant-1 {
  background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.main-page-restaurant .image-restaurant-2 {
  background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.main-page-restaurant .image-restaurant-3 {
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.main-page-restaurant .image-restaurant-4 {
  background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.main-page-restaurant .section-page-restaurant {
  width: 100%;
  background-color: white;
}
.main-page-restaurant .section-page-restaurant article {
  margin: 15px;
  margin-top: 35px;
}
.main-page-restaurant .section-page-restaurant article h3 {
  color: #807e7e;
  width: 55px;
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 5px;
}
.main-page-restaurant .section-page-restaurant article .inside-article {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  box-shadow: 0px 4px 5px #c4bdbd;
  position: relative;
  -webkit-animation: itemAppear 0.6s;
          animation: itemAppear 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform: scale(0);
}
.main-page-restaurant .section-page-restaurant article .inside-article .title-article {
  width: 80%;
  padding: 15px;
  transition: all 320ms ease-in-out;
  transform-origin: right 50%;
}
.main-page-restaurant .section-page-restaurant article .inside-article .title-article .h3-title-article {
  color: black;
  padding-bottom: 5px;
  border: none;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-page-restaurant .section-page-restaurant article .inside-article .title-article p {
  font-size: small;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-page-restaurant .section-page-restaurant article .inside-article .h3-euro {
  border: none;
  color: black;
  padding-top: 15px;
  padding-right: 10px;
  width: auto;
  transition: all 320ms ease-in-out;
  position: absolute;
  right: 10px;
}
.main-page-restaurant .section-page-restaurant article .inside-article .check {
  transform: scaleX(0);
  transition: all 320ms ease-in-out;
  transform-origin: right 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page-restaurant .section-page-restaurant article .inside-article .check .wrapIcon {
  height: 30px;
  width: 30px;
  display: flex;
  color: #99E2D0;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.main-page-restaurant .section-page-restaurant article .inside-article:hover .wrapIcon {
  transform: rotate(0);
}
.main-page-restaurant .section-page-restaurant article .inside-article:hover .check {
  opacity: 1;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  width: 60px;
  transform: scaleX(1);
}
.main-page-restaurant .section-page-restaurant article .inside-article:hover .h3-euro {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  right: 70px;
}
.main-page-restaurant .section-page-restaurant article .inside-article:hover .title-article {
  width: 60%;
}
.main-page-restaurant .section-page-restaurant .article-1 .delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.main-page-restaurant .section-page-restaurant .article-1 .delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.main-page-restaurant .section-page-restaurant .article-1 .delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.main-page-restaurant .section-page-restaurant .article-2 .delay-4 {
  -webkit-animation-delay: 0.4444444444s;
          animation-delay: 0.4444444444s;
}
.main-page-restaurant .section-page-restaurant .article-2 .delay-5 {
  -webkit-animation-delay: 0.5555555556s;
          animation-delay: 0.5555555556s;
}
.main-page-restaurant .section-page-restaurant .article-2 .delay-6 {
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
}
.main-page-restaurant .section-page-restaurant .article-3 .delay-7 {
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s;
}
.main-page-restaurant .section-page-restaurant .article-3 .delay-8 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main-page-restaurant .section-page-restaurant .article-3 .delay-9 {
  -webkit-animation-delay: 1.125s;
          animation-delay: 1.125s;
}
.main-page-restaurant .section-page-restaurant .article-1-2 .delay-1 {
  -webkit-animation-delay: 0.0909090909s;
          animation-delay: 0.0909090909s;
}
.main-page-restaurant .section-page-restaurant .article-1-2 .delay-2 {
  -webkit-animation-delay: 0.1818181818s;
          animation-delay: 0.1818181818s;
}
.main-page-restaurant .section-page-restaurant .article-1-2 .delay-3 {
  -webkit-animation-delay: 0.2727272727s;
          animation-delay: 0.2727272727s;
}
.main-page-restaurant .section-page-restaurant .article-1-2 .delay-4 {
  -webkit-animation-delay: 0.3636363636s;
          animation-delay: 0.3636363636s;
}
.main-page-restaurant .section-page-restaurant .article-2-2 .delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.main-page-restaurant .section-page-restaurant .article-2-2 .delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.main-page-restaurant .section-page-restaurant .article-2-2 .delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.main-page-restaurant .section-page-restaurant .article-3-2 .delay-8 {
  -webkit-animation-delay: 0.8888888889s;
          animation-delay: 0.8888888889s;
}
.main-page-restaurant .section-page-restaurant .article-3-2 .delay-9 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main-page-restaurant .section-page-restaurant .article-3-2 .delay-10 {
  -webkit-animation-delay: 1.1111111111s;
          animation-delay: 1.1111111111s;
}
.main-page-restaurant .button {
  width: 50%;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 230ms ease-in-out;
  opacity: 1;
}
.main-page-restaurant .button:hover {
  opacity: 0.8;
  box-shadow: 3px 4px 5px #cfc7c7;
}

@media screen and (min-width: 992px) {
  header .logo img {
    width: 15%;
  }

  main {
    display: flex;
    flex-direction: column;
  }
  main nav .title-button button {
    width: 15%;
    height: 50px;
    background: linear-gradient(#9356DC, #FF79DA);
    color: white;
    border: none;
    border-radius: 25px 25px 25px 25px;
    font-size: 16px;
    margin-top: 20px;
  }
  main nav .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    width: 100%;
  }
  main nav .filters .choice-filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  main nav .filters .choice-filters .filter {
    width: 25%;
  }
  main nav .filters .choice-filters .filter .choice {
    margin-right: 20px;
  }
  main section {
    width: 60%;
    align-self: center;
    padding: 25px;
    margin-bottom: 70px;
    border-radius: 25px 25px 25px 25px;
  }
  main section h2 {
    width: 100%;
    padding-top: 0;
  }
  main section .bloc-restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main section .bloc-restaurants a {
    width: 50%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-page-restaurant img {
    width: 15%;
  }

  .main-page-restaurant .image-restaurant-1, .main-page-restaurant .image-restaurant-2, .main-page-restaurant .image-restaurant-3, .main-page-restaurant .image-restaurant-4 {
    display: flex;
    flex-direction: column;
  }
  .main-page-restaurant .image-restaurant-1 .icon-title-section, .main-page-restaurant .image-restaurant-2 .icon-title-section, .main-page-restaurant .image-restaurant-3 .icon-title-section, .main-page-restaurant .image-restaurant-4 .icon-title-section {
    width: 90%;
    align-self: center;
  }
  .main-page-restaurant .section-page-restaurant {
    width: 90%;
    margin-left: -20px;
    margin-top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    box-shadow: 0px 4px 5px #c4bdbd;
    border-radius: 0 0 25px 25px;
    margin-bottom: 50px;
  }
  .main-page-restaurant .section-page-restaurant article {
    margin-bottom: 40px;
    width: 30%;
  }
  .main-page-restaurant .button {
    width: 15%;
    height: 50px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  header .logo img {
    width: 20%;
  }

  .header-page-restaurant img {
    width: 25%;
  }

  main nav .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  main nav .filters .choice-filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  main nav .filters .choice-filters .filter {
    width: 50%;
  }
  main nav .filters .choice-filters .filter .choice {
    margin-right: 20px;
  }
  main section h2 {
    width: 100%;
  }
  main section .bloc-restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main section .bloc-restaurants a {
    width: 50%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-page-restaurant .button {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */