* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: initial;
}

header {
    .logo {
        display: flex;
        justify-content: center;
        img {
            width: 45%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    .i-search {
        display: flex;
        justify-content: center;
        background-color: #e7e7e7;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: inset 0px 2px 3px #5553532e;
        p {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 15px;
            font-weight: bold;
        }
    }
}

main {
    nav {
        .title-button {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h2 {
                width: 60%;
                margin: 0;
            }
            h3 {
                width: 80%;
                color: #807e7e;
                margin-top: 20px;
            }
            button {
                width: 50%;
                height: 50px;
                background: linear-gradient(#FF79DA,#9356DC);
                color: white;
                border: none;
                border-radius: 25px 25px 25px 25px;
                font-size: 16px;
                margin-top: 20px;
                cursor: pointer;
            }
        }
        %filters {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 70px;
            margin-bottom: 100px;
            .choice-filters {
                display: flex;
                flex-direction: column;
                .filter {
                     display: flex;
                     margin-top: 20px;
                     position: relative;
                     .number {
                         background-color: #9356DC;
                         color: white;
                         height: 25px;
                         width: 25px;
                         border-radius: 12.5px 12.5px 12.5px 12.5px;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         position: absolute;
                         bottom: 17px;
                         left: -12.5px;
                     }
                     .choice {
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         width: 100%;
                         height: 60px;
                         box-shadow: 0px 4px 5px #c4bdbd;
                         border-radius: 15px 15px 15px 15px;
                        p {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-weight: bold;
                            font-size: large;
                        }
                        i {
                            margin-right: 5%;
                            color: #807e7e;
                        }
                     }
                     .choice-1 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 60px;
                        box-shadow: 0px 4px 5px #c4bdbd;
                        border-radius: 15px 15px 15px 15px;
                        background-color: #ebe5f3;
                        p {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-weight: bold;
                            font-size: large;
                        }
                        i {
                            margin-right: 5%;
                            color: #807e7e;
                        }
                     }
                }
            }
        }
        .filters {
            @extend %filters
        }
    }
    %bloc-restaurants {
        display: flex;
        flex-direction: column;
        h2 {
            margin-top: 30px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .card-restaurant {
            margin-top: 30px;
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            position: relative;
            img {
                width: 100%;
                height: 160px;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }
            .inside-card {
                background-color: white;
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 0 0 20px 20px;
                box-shadow: 0px 0px 6px 0px #0000002e;
				%heart {
                    font-size: 20px;
                    position: relative;
                    .fas {
                        color: transparent;
                        background-image: linear-gradient(red, blue);
                        background-clip: text;
                        -webkit-background-clip: text;
                        position: absolute;
                        opacity: 0;
                        transition: all 230ms ease-in-out;
                    }
                    &:hover .fas{
                         opacity: 1;
                         transform: scale(1.2);
                    }
                }
                .heart{
                    @extend %heart;
                }
            }
            p {
                padding-top: 5px;
            }
            .button-new {
                height: 20px;
                width: 90px;
                background-color: #99E2D0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px 3px 3px 3px;
                padding: 15px;
                position: absolute;
                right: 15px;
                top: 15px;
            }
        }
    }
    section {
        background-color: #e9e0e7;
        margin-top: 20px;
        padding-bottom: 70px;
        h2 {
            padding-top: 30px;
            margin-left: 20px;
        }
        .bloc-restaurants {
            @extend %bloc-restaurants
        }
    }
}

footer {
    padding: 30px;
    background-color: #2f2f2f;
    p {
        a{
            color: white;
        }
        color: white;
        margin-top: 10px;
    }
    img {
        margin-bottom: 10px;
    }
    i {
        color: white;
    }
    .text-icon-footer {
        display: flex;
        margin-top: 10px;
        p {
            margin-top: 0;
            margin-left: 10px;
            a {
                color: white;
            }
        }
    }
}

.header-page-restaurant {
    width: 100%;     
    display: flex;
    justify-content: center;   
    position: relative;
    img {
        width: 45%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    a {
        position: absolute;
        left: 20px;
        align-self: center;
    }
}

.main-page-restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    %image{
        background-size: cover;
        width: 100%;
        height: 600px;
        position: relative;
        .icon-title-section {
           padding-top: 30px;
           position: absolute;
           margin-right: 20px;
           display: flex;
           justify-content: space-between;
           background-color: white;
           width: 100%;
           border-radius: 40px 40px 0 0;
           bottom: 0;
           h2 {
              margin-left: 20px;
			}  
           .heart {
            font-size: 20px;
            position: relative;
            margin-right: 20px;
            cursor: pointer;
            .fas {
                color: transparent;
                background-image: linear-gradient(#9356DC, #FF79DA);
                background-clip: text;
                -webkit-background-clip: text;
                position: absolute;
                opacity: 0;
                transition: all 230ms ease-in-out;
            }
            &:hover .fas{
                 opacity: 1;
                 transform: scale(1.2);
            }
        }
      }    
    }
    .image-restaurant-1{
        background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        @extend %image
    }
    .image-restaurant-2{
        background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        @extend %image
    }
    .image-restaurant-3{
        background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        @extend %image
    }
    .image-restaurant-4{
        background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        @extend %image
    }
    .section-page-restaurant {
        width: 100%;
        background-color: white;
        article {
            margin: 15px;
            margin-top: 35px;
            h3 {
                color: #807e7e;
                width: 55px;
                border-bottom: solid #99E2D0 3px;
                padding-bottom: 5px;
            }
            .inside-article {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                cursor: pointer;
                border-radius: 15px 15px 15px 15px;
                width: 100%;
                box-shadow: 0px 4px 5px #c4bdbd;
                position: relative;
                .title-article {
                    width: 80%;
                    padding: 15px;
                    transition: all 320ms ease-in-out ;
                    transform-origin: right 50%;
                    .h3-title-article {
                        color: black;
                        padding-bottom: 5px;
                        border: none;
                        width: 100%;
						text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    p {
                        font-size: small;
						text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                .h3-euro {
                    border: none;
                    color: black;
                    padding-top: 15px;
                    padding-right: 10px;
                    width: auto;
                    transition: all 320ms ease-in-out ;
                    position: absolute;
                    right: 10px;
                }
                .check {
                    transform: scaleX(0);
                    transition: all 320ms ease-in-out ;
                    transform-origin: right 50%;
                    display:flex;
                        align-items:center;
                        justify-content:center;
                    .wrapIcon {
                        height: 30px;
                        width: 30px;
                        display:flex;
                        align-items:center;
                        justify-content:center;
                        background-color: white;
                        border-radius: 100px;
                        transform: rotate(180deg);
                        transition-duration: 0.5s;
                      }
                }
                &:hover .wrapIcon {
                    transform: rotate(0);
                }
                &:hover .check{
                    opacity: 1;
                    background-color: #99E2D0;
                    border-radius: 0px 15px 15px 0px;
                    width: 60px;
                    transform: scaleX(1);
                }
                &:hover .h3-euro {
                    display: flex;
                    justify-content: flex-start;
                    position: absolute;
                    right: 70px;
                }
                &:hover .title-article {
                    width: 60%;
                }
            }
        }   
    }
    .button {
        width: 50%;
        height: 50px;
        background: linear-gradient(#FF79DA,#9356DC);
        color: white;
        border: none;
        border-radius: 25px 25px 25px 25px;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 50px;
        cursor: pointer;
    } 
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    
    header {
        .logo {
            img {
                width: 20%;
            }
        }
    }        
    
    .header-page-restaurant {
        img {
            width: 25%;
        }
    }
    
    main {
        nav {
            .filters {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 80px;
                .choice-filters {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    .filter {
                        width: 50%;
                        .choice {
                            margin-right: 20px;
                        }
                    }
                }
                @extend %filters
            }
        }
        section {
            h2 {
                width: 100%;
            }
            .bloc-restaurants {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                a {
                    width: 50%;
                }
                @extend %bloc-restaurants
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-page-restaurant {
            .button {
                width: 20%;
            }
    }
}

@media screen and (min-width: 992px) {
    header {
        .logo {
            img {
                width: 15%;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        nav {
            .title-button {
                button {
                    width: 15%;
                    height: 50px;
                    background: linear-gradient(#FF79DA,#9356DC);
                    color: white;
                    border: none;
                    border-radius: 25px 25px 25px 25px;
                    font-size: 16px;
                    margin-top: 20px;
                }
            }
            .filters {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 80px;
                width: 100%;
                .choice-filters {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    .filter {
                        width: 25%;
                        .choice {
                            margin-right: 20px;
                        }
                    }
                }
            }   
        }
        section {
            width: 60%;
            align-self: center;
            padding: 25px;
            margin-bottom: 70px;
            border-radius: 25px 25px 25px 25px;
            h2 {
                width: 100%;
                padding-top: 0;
            }
            .bloc-restaurants {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                a {
                    width: 50%;
                }
            }
        }
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-page-restaurant { 
        img {
            width: 15%;
        }
    }

    .main-page-restaurant {
        .image-restaurant-1, .image-restaurant-2, .image-restaurant-3, .image-restaurant-4{
            display: flex;
            flex-direction: column;
            .icon-title-section {
                width: 90%;
                align-self: center;
            }
        }
        .section-page-restaurant{
            width: 90%;
            margin-left: -20px;
            margin-top: 0;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0;  
            box-shadow: 0px 4px 5px #c4bdbd;
            border-radius: 0 0 25px 25px;
            margin-bottom: 50px;
            article {
                margin-bottom: 40px;
                width: 30%;
            }
        }
        .button {
            width: 15%;
            height: 50px;
        } 
    }
}

@keyframes check {
    0% {
      transform: scaleX(0);
    }
    20% {
      transform: scaleX(0.2);
    }
    40% {
      transform: scaleX(0.4);
    }
    60% {
      transform: scaleX(0.6);
    }
    80% {
      transform: scaleX(0.8);
    }
    100% {
      transform: scaleX(1);
    }
}